:root {
  --loader-primary: 210;
  --loader-secondary: 220;
  --loader-size: 3rem;
  --loader-speed: 1s;
}

/* SPINNER */
.spinner {
  position: relative;
  width: var(--loader-size);
  height: var(--loader-size);
  margin-inline: auto;
  border-radius: 999px;
  /* TODO */
  border: 2px solid #FF3D00;
  animation: rotation var(--loader-speed) linear infinite;
}
.spinner::after {
  content: '';  
  position: absolute;
  left: 4px;
  top: 4px;
  width: calc(var(--loader-size) / 4);
  height: calc(var(--loader-size) / 4);
  border: 2px solid #FFF;
  border-radius: 999px;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 