details {
    padding: 1rem;
    border-width: 1px;
    border-radius: theme("borderRadius.md");
    transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
    opacity: 0.8;

    :is(&[open], &:hover) {
        opacity: 1;
    }

    &[open] {
        summary::after {
            content: "-";
        }
    }

    summary {
        position: relative;
        font-size: theme("fontSize.sm");
        cursor: pointer;

        &::marker {
            content: "";
        }

        &::after {
            content: "+";
            position: absolute;
            right: 0;
        }
    }
}