.media-operation {
    --size: 7rem;
    --transition: 0.2s ease-in-out;
    position: relative;
    box-shadow: 1px 1px 10px rgba(3, 3, 5, 0.2);
    border-radius: var(--radius);
    border: 1px solid rgb(50, 50, 77);
    transition: filter var(--transition);
    cursor: pointer;
}

.media-operation:hover img {
    filter: brightness(0.7) blur(0.5px);
}

.media-operation:hover figcaption {
    opacity: 1;
    transform: translateY(0rem);
}

.media-operation img {
    width: var(--size);
    height: var(--size);
    padding-inline: 2rem;
    background: repeating-conic-gradient(rgb(24, 24, 38) 0%, rgb(24, 24, 38) 25%, transparent 0%, transparent 50%) 50% center / 20px 20px;
    object-fit: cover;
    border-radius: var(--radius);
    box-sizing: content-box;
    transition: filter var(--transition);
}

.media-operation figcaption {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    opacity: 0;
    line-height: var(--size);
    transition: opacity var(--transition), transform var(--transition);
    transform: translateY(1rem);
}